---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout metaDesc="モダンフロントエンドについて日々勉強しています。">
	<p>Home</p>
		<Heading text="記事一覧" />
		<ul>
			{allPosts.map((post) => 
				{
					const postDate = new Date(post.frontmatter.pubDate);
					const formattedDate = `
							${postDate.getFullYear()}年${(postDate.getMonth() + 1).toString().padStart(2, '0')}月${postDate.getDate().toString().padStart(2, '0')}日
						`;
					return(
					<li>
						<div class="c-card p-type-">
							<a href={post.url} class="c-card-wrap">
								<Heading headingLv={3} text={post.frontmatter.title} />
								<img src={post.frontmatter.image} alt={post.frontmatter.title} />
								<p><span>{formattedDate}</span></p>
							</a>
						</div>
					</li>
				);})}
		</ul>
</Layout>
