---
const { frontmatter } = Astro.props;
import Layout from '../layouts/Layout.astro';
import Breadcrumbs from "../components/Breadcrumbs.astro";
---
<Layout 
	pageTitle={frontmatter.title}
	metaDesc={frontmatter.description}
	contentType={'blog bulma-box'}
	isArticle={true}
>
	<Breadcrumbs current={frontmatter.title} />
	<article class="bulma-content">
		<h2 class="bulma-title bulma-is-2">{frontmatter.title}</h2>
		<slot />
	</article>
</Layout>
